body {
    background-color: #750f0b;
    width:100%;
    height:100vh;
    text-align: center;
    transition: 0.5s ease;
    overflow: hidden;
}

/*loading*/
.loadingBox {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-gifts {
    color:#fff;
    font-size: 8vmax;
    text-shadow: 0 0 3px #fff;
    transition: opacity 1s;
}

.xmasText {
    color:#e5c567;
    font-family: 'Dancing Script', cursive;
    font-size:3vmax;
    font-weight: 700;
    padding:10px;
    transition: opacity 1s;
    animation:blink 1.5s ease infinite alternate;
}

@keyframes blink {
    100% {
        text-shadow: 0 0 5px #fff;
    }
}

button {
    border-radius: 50%;
    width:50px;
    height:50px;
    background: none;
    border:1px solid #fff;
    color:#fff;
    line-height: 2;
    cursor: pointer;
    outline: 0; 
    opacity: 0;
    animation: btnMove 1s ease-out 6s;
    animation-fill-mode : forwards;
}

.btnDiv p {
    color:#fff;
    font-size:3vmax;
    font-weight: 600;
    opacity: 0;
    animation: btnPMove 1s ease 7s;
    animation-fill-mode : forwards;
    text-shadow: 5px 5px 0 black;
}

@keyframes btnMove{
    50% {
            opacity: 1; 
            transform : translate(0, -550%);
        }
    100% {
            opacity: 1;
            transform : translate(0, -200%);
            font-size:30px;
            width: 80px;
            height:80px;
            background:#356636;
        }
}

@keyframes btnPMove {
    100% {
        transform : translate(0, -200%);
        opacity: 1;
    }
}

/*section*/
section {
    width:100%;
    height:100%;
    display:none;
    position: relative;
}
/*nav*/
nav {
    position:fixed;
    right:3%;
    bottom:-95%;
}

nav p {
    color:#fff;
}

.navKpop {
    margin-bottom: 30px;
}

.navKpop div, .navPop div {
    width:40px;
    height:40px;
    border-radius: 50%;
    background: #fff;
    margin:10px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s ease;
}

.navPop div:hover {
    background:#750f0b;
}

.navKpop div:hover {
    background:#750f0b;
}

article {
    height:100vh;
}

h2 {    
    color:#fff;
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-shadow: 8px 5px 5px #222;

}


/*kpop*/
.kpop, .pop {
    display: flex;
    width:200%;
    height:100%;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.kpop {
    background:#000;
}
.kpop > div, .pop > div {
    width: 100%;
}


/*pop*/
.pop {
    position:relative;
}

.popNav {
    bottom : -195%;
}

@media(max-width:1280px){
    button {
        width:40px;
        height:40px;
    }
}

@media(max-width:860px){
    h2 {
        font-size:100px;
    }
}

@media(max-width:500px){
    .fa-gifts {
        font-size : 10vmax;
    }
    .xmasText {
        font-size : 4vmax;
    }
    h2 {
        font-size:70px;
    }

    @keyframes btnMove{
        50% {
                opacity: 1; 
                transform : translate(0, -550%);
            }
        100% {
                opacity: 1;
                transform : translate(0, -180%);
                font-size:20px;
                width: 60px;
                height:60px;
                background:#356636;
            }
    }

    .btnDiv p {
        font-size:5vmax;
    }
    
}

/*360*/


ul {
    color:#fff;
}

ul li {
    display: flex;
}