.main {
    display: flex;
    text-align: left;
    height:100%;
    background:#000;
}

/*kpopMain nav*/
.mainNav {
    margin: 20px;
    position:fixed;
    text-align: center;
}
.mainNav div {
    width:40px;
    height:40px;
    border-radius: 50%;
    background:#222;
    line-height: 2.3;
    margin-bottom:15px;
    color:#fff;
    border:2px solid #fff;
    cursor: pointer;
}

.mainNav div:hover {
    background:rgb(255, 255, 255, 0.6);
}

/*kpop*/
.kpopMain h2, .popMain h2 {
    padding:5%;
    margin-left:50px;
    cursor: default;;
}

.kpopMain h2 {
    text-shadow: 8px 5px 5px #222;
}

.text {
    width:40%;
}

#disqus_thread, #lv-container {
    width: 80%;
    height: 60vh;
    margin: auto;
    overflow-y: scroll;
}

#disqus_thread::-webkit-scrollbar {
    opacity: 0;
    width:5px
}
#disqus_thread::-webkit-scrollbar-thumb {
   background-color: rgb(150, 150, 150, 0.7);
   border-radius: 5px;
   background-clip:padding-box;
 
}

#lv-container::-webkit-scrollbar {
    opacity: 0;
    width:5px
}
#lv-container::-webkit-scrollbar-thumb {
    background-color: rgb(150, 150, 150, 0.7);
    border-radius: 5px;
    background-clip:padding-box;
 }

/*video*/
.ytb {
    width:60%;
    padding:4% 0;
}
#player, #popPlayer {
    height:100%;
    width:90%;
}

/*pop*/
.popMain {
    background:#222;
}

.popMain h2 {
    text-shadow: 8px 5px 5px #000;
}

@media(max-width:1500px){
    
    .kpopMain h2, .popMain h2 {
        font-size:90px;
        margin-bottom: 20px;;
    }
}

@media(max-width:1200px) {
    .kpopMain, .popMain {
        padding:20px;
    }
    .kpopMain h2, .popMain h2 {
        font-size:70px;
        margin-bottom: 60px;
    }
    .text {
        width:50%;
    }
    #lv-container, #disqus_thread {
        height: 50vh;
    }
}

@media(max-width:1024px) {
    .kpopMain h2, .popMain h2 {
        display:none;
    }
    .main {
        flex-direction: column-reverse;
    }
    .text {
        margin:auto;
        width:80%;
    }
    #player, #popPlayer {
        width: 100%;
    }
    .ytb {
        width:60%;
        height:50%;
        margin: auto;
    }
}

@media(max-width:500px) {
    .ytb {
        width:80%;
    }
}


