.main {
    display: flex;
    text-align: left;
    height:100%;
    background:#000;
}

/*kpopMain nav*/
.mainNav {
    margin: 20px;
    position:fixed;
    text-align: center;
}
.mainNav div {
    width:40px;
    height:40px;
    border-radius: 50%;
    background:#222;
    line-height: 2.3;
    margin-bottom:15px;
    color:#fff;
    border:2px solid #fff;
    cursor: pointer;
}

.mainNav div:hover {
    background:rgb(255, 255, 255, 0.6);
}

/*kpop*/
.kpopMain h2, .popMain h2 {
    padding:5%;
    margin-left:50px;
    cursor: default;;
}

.kpopMain h2 {
    text-shadow: 8px 5px 5px #222;
}

.text .stop, .text .popStop {
    margin-left:60px;
    font-size:20px;
    cursor: pointer;
}

.play, .popPlay {
    display:inherit;
    position: absolute;
    right:0;
}

.text {
    width:40%;
}

/*video*/
.ytb {
    width:60%;
    padding:4% 0;
}
#player, #popPlayer {
    height:100%;
    width:90%;
}

.playList {
    height: 60%;
    background-attachment: local;
    width: 80%;
    background:rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    margin:0 12.5%;
}

ul {
    width: 100%;
    height:100%;
    overflow-y: scroll;
}

ul::-webkit-scrollbar {
    opacity: 0;
}

ul::-webkit-scrollbar-thumb {
    background-color:#444;
    border-radius: 2px;
    height:10px;
}
ul::-webkit-scrollbar-track {
    background-color:#222;
    border-radius:3px;
}

ul li {
    padding:20px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
ul li:hover {
    background:rgb(255, 255, 255, 0.5);
}
.choiceLi {
    background:rgb(255, 255, 255, 0.5);
}
ul li div {
    padding:0 10px;
}


/*pop*/
.popMain {
    background:#222;
}

.popMain h2 {
    text-shadow: 8px 5px 5px #000;
}

.popMain ul::-webkit-scrollbar-thumb {
    background-color:#666;
}
.popMain ul::-webkit-scrollbar-track {
    background-color:#444;
}

@media(max-width:1500px){
    .ytb {
        margin-left:10%;
    }
    .playList {
        width:100%;
    }
}

@media(max-width:1200px) {
    .kpopMain h2, .popMain h2 {
        font-size:70px;
    }
}

@media(max-width:1024px) {
    .kpopMain h2, .popMain h2 {
        display:none;
    }
    .main {
        flex-wrap: wrap;
    }
    .text {
        width:80%;
    }
    #player, #popPlayer {
        width: 100%;
    }
    .ytb {
        margin:0;
        position: absolute;
        left:120%;
        width:60%;
        height:45%;
    }
    .popYtb {
        left:63%;
        width:25%;
        
    }
    .playList {
        height:50vh;
    }
    ul {
        margin-top:59vw;
        height:50vh;
    }
    .mainNav {
        display: inline-block;
    }
}

@media(max-width:550px){
    .playList {
        margin:70% 0 0 12.5%;
    }
}

@media(max-width:450px){
    .playList {
        margin:108% 0 0 12.5%;
        font-size:11px;
    }
    .num, .popNum {
        display:none;
    }
}



