.popMain {
    position:relative;
    height:100%;
}
.popText {
    width:45%;
    height:100%;
}
.popMain h2 {
    width:80%;
    margin-top:560px;
    margin-left:40%;
    text-align: left;
}

.popAlbum {
    height:100%;
    width:50%;
    flex-wrap: wrap;
    display: flex;
    opacity: 0;
    padding-bottom: 50px;
}

.popAlbumImg {
    width:40%;
    height:450px;
}

.popAlbum img {
    width: 220px;
    height: 220px;
    box-shadow: 7px 7px 10px #000000;
    transition: 0.5s;
}

.popAlbumImg img:hover {
    transform: scale(1.02, 1.02);
}

.mariah {
    margin-top:200px;
    margin-left:140px;
}
.kelly {
    margin-top:200px;
    margin-right:130px;
}
.sia {
    margin-left:140px;
}
.ariana {
    margin-right: 130px;
}


