
body {
    background-color: #750f0b;
    width:100%;
    height:100vh;
    text-align: center;
}
/*loading*/
.loadingBox {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadingBox div {
    width:100vh;
}

.fa-gifts {
    color:#fff;
    font-size: 8vmax;
    text-shadow: 0 0 3px #fff;
}

.xmasText {
    color:#e5c567;
    font-family: 'Dancing Script', cursive;
    font-size:3vmax;
    font-weight: 700;
    padding:10px;
    animation:blink 2s ease-in-out infinite alternate;
}

@keyframes blink {
    100% {
        text-shadow: 0 0 5px #fff;
    }
}

.btnDiv {
    padding-top: 70px;
}

button {
    border-radius: 50%;
    width:50px;
    height:50px;
    background: none;
    border:1px solid #fff;
    color:#fff;
    line-height: 2;
    transition: 2s;
    cursor: pointer;
}

button:hover {
    background-color:#356636;
}

/*main*/
section {
    position:relative;
    width:100%;
    height:100%;
}

/*article*/
.articleDiv {
    width:100%;
}

article {
    width: 100%;
    height:100vh;
}

h2 {    
    color:#fff;
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 5px;
}

/*kpop*/

.kpop {
    background:#000;
    position: relative;
    text-align: left;
}

.kpop h3 {
    color:#fff;
    font-size:30px;
    padding-bottom: 10px;
}

.kpop nav {
    margin-top:50px;
    margin-left:150px;
}

.kpop h2 {
    padding:100px;
    margin-left:50px;
}

h3, .kpopPlayList {
    margin-left:350px;
    letter-spacing: 1.5px;
}

.kpop p {
    color:#fff;
    padding:20px;
    font-size:16px;
}

.kpopAlbumImg {
    width:26vmax;
    height:26vmax;
    border-radius:50%;
    position: absolute;
    border:2px solid #000;
    top:15%;
    right:15%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.circle {
    width: 5vw;
    height:5vw;
    border-radius: 50%;
    background:#000;
    border:2px solid #000;
    margin:auto;
    margin-top: 43%;
}

.kpopPlayBtn {
    position:absolute;
    bottom:22%;
    right:25%;
}

.kpopPlayBtn i {
    padding:7px;
    color:#fff;
    text-shadow: 0 0 3px #fff;
    font-size:23px;
    cursor: pointer;
}

.kpopPlayBtn .fa-step-forward {
    font-size:25px;
}
.prev {
    transform: rotateY(180deg); 
}

.exo {
    background-image: url(img/exo.jpeg);
}
.jelly {
    background-image: url(img/jelly.jpg);
}
.beg {
    background-image: url(img/beg.jpg);
}
.taeyeon {
    background-image: url(img/taeyeon.jpg);
}

/*popnav*/
.pop nav {
    display: flex;
    position:absolute;
    top:calc(50% - 35px);
    left:calc(50% - 35px);
}
.pop nav ul {
    margin-top:10px;
}
.pop nav ul li {
    position:absolute;
    left:0;
    width:40px;
    height:40px;
    border:2px solid #fff;
    border-radius: 50%;
    font-size:15px;
    font-weight: 700;
    color:#fff;
    line-height: 2.3;
    margin:7px;
    cursor: pointer;
    opacity: 0;
    transition:0.5s;
}

.pop nav ul li:hover {
    background:#356636;
}

.pop nav button {
    width:70px;
    height:70px;
    background:#356636;
    font-size: 25px;
    margin-right:10px;
    z-index: 1;
    animation:blink 2s ease infinite alternate;
}
/*pop*/

.pop {
    position:relative;
    display: flex;
    align-items: center;
}
.popText {
    width:45%;
    height:100%;
}
.pop h2 {
    width:80%;
    margin-top:560px;
    margin-left:40%;
    text-align: left;
}

.popAlbum {
    height:100%;
    width:50%;
    flex-wrap: wrap;
    display: flex;
    opacity: 0;
    padding-bottom: 50px;
}

.popAlbumImg {
    width:40%;
    height:450px;
}

.popAlbum img {
    width: 220px;
    height: 220px;
    box-shadow: 7px 7px 10px #000000;
    transition: 0.5s;
}

.popAlbumImg img:hover {
    transform: scale(1.02, 1.02);
}


.mariah {
    margin-top:200px;
    margin-left:140px;
}
.kelly {
    margin-top:200px;
    margin-right:130px;
}
.sia {
    margin-left:140px;
}
.ariana {
    margin-right: 130px;
}

@media(max-width:1280px){
    /*main*/
    button {
        width:40px;
        height:40px;
    }

    /*kpop*/
    .kpopPlayBtn {
        bottom:18%;
        right:23%;
    }
    h3, .kpopPlayList {
        display: none;
    }
}

@media(max-width:1000px) {
    /*main*/
    .kpop h2 {
        padding:50px;
        font-size:70px;
    }
    .kpop nav {
        margin-left: 100px;
    }
    .fa-gifts {
        font-size:13vmax;
    }
    .xmasText {
        font-size:4vmax;
    }
    .kpopAlbumImg {
        width:40vmax;
        height:40vmax;
    }
    .fa-step-forward {
        right:38%;
    }
    .prev {
        right:34.5%;
    }
    .next {
        right:31.5%;
    }
}

@media(max-width:850px){
    .kpop h2 {
        text-align: center;
        line-height: 1.2;
    }
    .kpop nav {
        margin-left: 100px;
    }
    .kpopAlbumImg {
        top: 40%;
        left:32%
    }
    .kpopPlayBtn {
        bottom:10%;
        right:20%;
    }
    .kpopPlayBtn i {
        padding:3px;
        font-size:18px;
    }
}

@media(max-width:500px){
    .kpopPlayBtn {
        right:37%;
    }
    .kpop nav {
        margin-top:0;
        margin-left:50px;
    }
}


