
body {
    background-color: #750f0b;
    width:100%;
    height:100vh;
    text-align: center;
}
/*loading*/
.loadingBox {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadingBox div {
    width:100vh;
}

.fa-gifts {
    color:#fff;
    font-size: 150px;
    text-shadow: 0 0 3px #fff;
}

.xmasText {
    color:#e5c567;
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    font-weight: 700;
    padding:10px;
    animation:blink 2s ease-in-out infinite alternate;
}

@keyframes blink {
    100% {
        text-shadow: 0 0 5px #fff;
    }
}

.btnDiv {
    padding-top: 70px;
}

button {
    border-radius: 50%;
    width:50px;
    height:50px;
    background: none;
    border:1px solid #fff;
    color:#fff;
    line-height: 2;
    transition: background 2s;
    cursor: pointer;
}

button:hover {
    background-color:#356636;
}

/*main*/
section {
    position:relative;
    width:100%;
    height:100%;
}

/*article*/
.articleDiv {
    width:100%;
}

article {
    width: 100%;
    height:100vh;
}

h2 {    
    color:#fff;
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 5px;
}

/*kpop*/

.kpop {
    background:#000;
    position: relative;
    text-align: left;
}

.kpop h3 {
    color:#fff;
    font-size:30px;
    padding-bottom: 10px;
}

.kpopNav {
    margin-top:50px;
    margin-left:150px;
}

.kpopH2 {
    padding:100px;
    margin-left:50px;
}

h3, .kpopPlayList {
    margin-left:350px;
    letter-spacing: 1.5px;
}

.kpop p {
    color:#fff;
    padding:20px;
    font-size:16px;
}

.kpopAlbumImg {
    width:500px;
    height:500px;
    border-radius:50%;
    position: absolute;
    border:2px solid #000;
    top:150px;
    right:15%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.circle {
    width: 100px;
    height:100px;
    border-radius: 50%;
    background:#000;
    border:2px solid #000;
    margin:auto;
    margin-top: 43%;
}

.fa-forward, .fa-step-forward {
    color:#fff;
    text-shadow: 0 0 3px #fff;
    font-size:20px;
    position:absolute;
    bottom:200px;
    cursor: pointer;
}


.prev {
    transform: rotateY(180deg);
    right:30.5%;
}
.fa-step-forward {
    right:27.5%;
    font-size:25px;
}
.next {
    right:24.5%;
}

.exo {
    background-image: url(img/exo.jpeg);
}
.jelly {
    background-image: url(img/jelly.jpg);
}
.beg {
    background-image: url(img/beg.jpg);
}
.taeyeon {
    background-image: url(img/taeyeon.jpg);
}

/*popnav*/
.popNav {
    display: flex;
    position:absolute;
    top:calc(50% - 35px);
    left:calc(50% - 35px);
}
.popNav ul {
    margin-top:10px;
}
.popNav ul li {
    position:absolute;
    left:0;
    width:40px;
    height:40px;
    border:2px solid #fff;
    border-radius: 50%;
    font-size:15px;
    font-weight: 700;
    color:#fff;
    line-height: 2.3;
    margin:7px;
    cursor: pointer;
    opacity: 0;
    transition: background 0.5s;
}

.popNav ul li:hover {
    background:#356636;
}

.popBtn {
    width:70px;
    height:70px;
    background:#356636;
    font-size: 25px;
    margin-right:10px;
    z-index: 1;
    animation:blink 2s ease infinite alternate;
}
/*pop*/

.pop {
    position:relative;
    display: flex;
    align-items: center;
}
.popText {
    width:45%;
    height:100%;
}
.popH2 {
    width:80%;
    margin-top:560px;
    margin-left:40%;
    text-align: left;
}

.popAlbum {
    height:100%;
    width:50%;
    flex-wrap: wrap;
    display: flex;
    opacity: 0;
    padding-bottom: 50px;
}

.popAlbumImg {
    width:40%;
    height:450px;
}

.popAlbum img {
    width: 220px;
    height: 220px;
    box-shadow: 7px 7px 10px #000000;
    transition: 0.5s;
}

.popAlbumImg img:hover {
    transform: scale(1.02, 1.02);
}


.mariah {
    margin-top:200px;
    margin-left:140px;
}
.kelly {
    margin-top:200px;
    margin-right:130px;
}
.sia {
    margin-left:140px;
}
.ariana {
    margin-right: 130px;
}




