
body {
    background-image: url("img/background.jpg");
    text-align: center;
}

.background {
    background-color: #750f0b;
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 90%;
    z-index: -1;
}

.fas {
    color:#fff;
    font-size: 200px;
    position:absolute;
    top:20%;
    left:44%;
    
}

.mas {
    color:#e5c567;
    font-family: 'Dancing Script', cursive;
    font-size:65px;
    font-weight: 1000;
    padding:50px;
    position: absolute;
    top:40%;
    left:36.3%;
    animation:blink 2s ease-in-out infinite alternate;
}

@keyframes blink {
    
    100% {
        text-shadow: 0 0 3px #fff;
    }
}


.loading {
    border: 5px solid #fff;
    border-radius: 5px;
    width:500px;
    height:30px;
    margin:auto;
    position: absolute;
    top:55%;
    left:37%;
}

.loadingbar {
    background-color: #e5c567;
    height:21px;
    width:0;
    animation : progressbar 5s linear;
    animation-iteration-count : 3;
    animation-fill-mode : forwards;

}

@keyframes progressbar {
    100% {
     width: 100%;   
    }
}